/*
*   属性初始化
*/
html, body, ul, li, ol, dl, dd, dt, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				
}

img {				
    border: 0;
    vertical-align: middle;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; 
}

a {
    color: #666;
    text-decoration: none;
}

s, i, em {				
    font-style: normal;
    text-decoration: none;
}


/*
*   自定义属性
*/

html,body {
    width: 100%;
    height: 100%;
}
html {
    overflow: hidden;
}
body {
    width:100%; height:100%; font: 14px/1.5 Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
}

.title {
    color: #fff;
    font-size: 15px;
    margin: 0;
}
.name {
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 2px;
}

/**
*   主体
*/
#main {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#music-list {
    height: 100%;
    background: url('../img/bg.jpg') center no-repeat;
}

/**
*   music-title
*/
#music-list .music-title {
    height: 40px;
    background-color: rgba(41,171,226,0.6);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
#music-list .title-tip {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 16px;
    height: 16px;
    background: url('../img/tip.png') center no-repeat;
    background-size: cover;
}

/**
*   底部-播放控制
*/
#music-list .audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    padding: 0 15px 0 15px;
    background: url('../img/list_audioBg.png') repeat-x;
    box-sizing: border-box;
}
.audio .audio-img {
    float:left;
    width: 50px;
    margin-top: 7px;
    border-radius: 50%;
}
.audio .audio-text {
    float: left;
    padding: 10px 0 0 20px;
}
.audio .audio-btn {
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 16px;
    background: url('../img/list_audioPlay.png') no-repeat;
    background-size: cover;
    display: none;
}

/**
*   播放列表
*/
.music-content {
    position: absolute;
    top: 40px;
    bottom: 65px;
    width: 100%;
    overflow: hidden;
}
.music-content .content-ul {
    transform: translate3d(0,0,0);
}
.content-ul .content-ul-list {
    padding: 10px 0 0 20px;
    border-bottom: 1px solid #999;
    background-color: rgba(26,26,26,0.6);
}
.content-ul .content-ul-list.active {
    border-left: 5px solid #29abe2;
}


