@import './select.css';
@import './calculator.css';


#app > .nav {
	height: 100px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
}
.nav li {
	display: inline-block;
	margin: 0 10px;
	line-height: 100px;
	color: #fff;
	cursor: pointer;
}

/* 动画 */
.fade-enter {
	opacity: 0;
}
.fade-enter-to {
	opacity: 1;
}
.fade-active,.fade-leave-active {
	transition: .5s;
}
.fade-leave {
	opacity: 1;
}
.fade-leave-to {
	opacity: 0;
}