<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <script type="text/javascript" src="index.js"></script>
        <script type="text/javascript" src="../jquery-1.11.3.min.js"></script>
    </head>
    <body>
    	<div class="rotation">
    		<ul class="img-ct clearfix">
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/2.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/3.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/4.jpg" alt=""></a>
    			</li>
    		</ul>
    		<div class="auxiliary">
    			<a href="#" class="btn pre-btn active">&lt;</a>
    			<a href="#" class="btn next-btn">&gt;</a>
    		</div>
    		<ul class="dots clearfix">
	    		<li class="hover"></li>
	    		<li></li>
	    		<li></li>
	    		<li></li>
    		</ul>
    	</div>
    	<div class="rotation">
    		<ul class="img-ct clearfix">
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/2.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/3.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/4.jpg" alt=""></a>
    			</li>
    		</ul>
    		<div class="auxiliary">
    			<a href="#" class="btn pre-btn active">&lt;</a>
    			<a href="#" class="btn next-btn">&gt;</a>
    		</div>
    		<ul class="dots clearfix">
	    		<li class="hover"></li>
	    		<li></li>
	    		<li></li>
	    		<li></li>
    		</ul>
    	</div>
    	<div class="rotation">
    		<ul class="img-ct clearfix">
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/2.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/3.jpg" alt=""></a>
    			</li>
    			<li>
	    			<a href="#"><img src="http://cdn.jirengu.com/book.jirengu.com/img/4.jpg" alt=""></a>
    			</li>
    		</ul>
    		<div class="auxiliary">
    			<a href="#" class="btn pre-btn active">&lt;</a>
    			<a href="#" class="btn next-btn">&gt;</a>
    		</div>
    		<ul class="dots clearfix">
	    		<li class="hover"></li>
	    		<li></li>
	    		<li></li>
	    		<li></li>
    		</ul>
    	</div>
    	<script type="text/javascript">
    		// var rotation = new Rotation($('.rotation'));

    		rotation.init($('.rotation'))
    	</script>
    </body>
</html>