@charset "UTF-8";
/*
  题目1  
*/
.alert {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alter-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.alter-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

.alter-warning {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}

.alter-danger {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

/*
    题目2
*/
.col1 {
  width: 20%;
}

.col2 {
  width: 40%;
}

.col3 {
  width: 60%;
}

.col4 {
  width: 80%;
}

.col5 {
  width: 100%;
}

/*
    继承
*/
