<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <script type="text/javascript" src="../jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
    </head>
    <body>
		<div class="container">
            <ul class="clearfix">
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/2.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/3.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/5.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/6.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/7.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/8.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/9.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/10.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/11.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/12.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/13.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/14.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/15.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/16.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/17.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/17.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/17.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/17.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/17.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="https://imgsa.baidu.com/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=3682361ff4faaf5190ee89eded3dff8b/cdbf6c81800a19d844a71a3c3afa828ba61e4667.jpg" data-src="http://cdn.jirengu.com/book.jirengu.com/img/12.jpg" alt=""></a></li>           
        </ul>
    </div>
    <script type="text/javascript">
    	exposure.init($('.container img'),function($node){
    		html($node)
    	})
    </script>
    </body>
</html>